<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="1" name="Test">
    <classes>
      
      <class name="test.java.com.zumic.automation.Login_Smoke_Test_Cases.java"/>
       <class name="test.java.com.zumic.automation.Without_Login_Smoke_Test_Case.java"/>
       <class name="test.java.com.zumic.automation.Practice_Selenium.java"/>
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->
